
@media screen and (max-width:1250px) {

    /* -------------------------------------------------------------------------------------------------------seccion1 */
    .section_1 {
        width: 100%;
        height: 120vh;
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: 1fr 1fr 1fr; 
    }
    
    .container_sec1 {
        grid-column: 1/4;
        grid-row: 1/3;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10%;
    }
    
    .cont1_item1 {
        width: 60%;
        height: auto;
    }
    
    .cont1_item1 h1 {
        font-family: var(--Titulos);
        font-size: 45px;
        color: var(--colorTitulos);
    }
    
    .cont2_item1 {
        font-family: var(--parafos);
        font-size: 20px;
        color: var(--colorparrafos);
        width: 60%;
        height: auto;
    }
    
    .icons {
        width: 60%;
        height: 5vh;
        display: flex;
        justify-content: space-evenly;
    }
    
    .icon {
        width: auto;
        height: auto;
    }
    
    .icon i {
        font-size: 25px;
    }
    
    .icon p {
        font-family: var(--parafos);
        color: var(--colorTitulos);
        size: 25px;
    }
    
    .cont1_item2 i {
        font-size: 20px;
        padding: 5px;
        background-color: #EEF3FF;
        justify-content: center;
        border-radius: 5px;
        margin: 10px;
    }
    
    .cont1_item2 p{
        font-family: var(--parafos);
        color: var(--colorparrafos)
    }
    
    .squedule {
        width: 650px;
        height: 100px;
        background-color: rgba(251, 252, 254, 98%);
        border-radius: 10px;
        position: relative;
        left: 200px;
        display: flex;
        justify-content: space-between;
    }
    
    .squl_item {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .squl_item p {
        margin-left: 30px;
        font-family: var(--Titulos);
        color: var(--colorTitulos);
    }
    
    .squl_item h6 {
        font-family: var(--parafos);
        color: var(--colorparrafos);
    }
    
    .squl_item i {
        background-color: #EEF3FF;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
    
    .container2_sec1 {
        grid-column: 4/7;
        grid-row: 1/3;
        background-color: #2A70DE;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    
    .container2_sec1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .container3_sec1 {
        height: auto;
        grid-column: 1/7;
        grid-row: 3/4;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .cont3_item img {
        width:  200px;
        height: 100%;
        object-fit: contain;
    }
    /* -------------------------------------------------------------------------------------------------------seccion1 */

}

@media screen and (max-width:1050px) {
    /* -------------------------------------------------------------------------------------------------------seccion4 */
    .section_4 {
        width: 100%;
        height: auto;
        display: grid;
        margin-bottom: 0vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .container1_sec4 {
        grid-column: 1/2;
        grid-row: 1/2;
        
        /* background-color: #1F3E72; */
    }
    
    .four_cont1_item1 {
        width: auto;
    }
    
    .four_cont1_item1 h1{
        font-family: var(--Titulos);
        color: var(--colorTitulos);
        font-size: 2.9em;
    }
    
    .four_cont1_item2 {
        width: auto;
    }
    
    .four_cont1_item2 p{
        font-family: var(--parafos);
        color: var(--colorparrafos);
        font-size: 1.3em;
    }
    
    .container2_sec4 {
        grid-column: 2/3;
        grid-row: 1/4;
        /* background-color: #333841; */
    }
    
    /* .container2_sec4 {
        display: flex;
        justify-content: flex-end;
        margin-top: 12vh;
        height: 60%;
    } */
    
    .container3_sec4 {
        grid-column: 1/2;
        grid-row: 2/4;
        /* background-color: brown; */
    }
    
    .four_cont3_item1 {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        /* background-color: #7F8CA1; */
        margin: 0 0 5px 0;
    }
    
    .box_item1 {
        width: 180px;
        height: 180px;
        margin: 0 0 10px 0;
        border-radius: 10px;
        border: solid #F1F5FF 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: aquamarine; */
    }
    
    .boxIcon1 {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .icons-call i{
        width: 50px;
        height: 50px;
        font-size: 2em;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F5FF;
    }
    
    .icon2 {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    
    .icon2 h5{
        color:var(--colorTitulos);
        font-size: 1rem;
    }
    
    .icon2 p{
        color:var(--colorparrafos);
        margin-bottom: 0;
    }
    
    .button-38 {
        width: 150px;
        height: 45px;
        background-color: #F1F5FF;
        border: 0;
        border-radius: 5px;
        box-sizing: border-box;
        color: #1d50e7;
        font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: .75rem 1rem;
        text-align: center;
        text-decoration: none #D1D5DB solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-38:hover {
        background-color: rgb(55,85,211);
        color: #ffffff;
      }
      
      .button-38:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      
      .button-38:focus-visible {
        box-shadow: none;
      }
    /* -------------------------------------------------------------------------------------------------------seccion4*/
}

@media screen and (max-width:850px) {
    /* -------------------------------------------------------------------------------------------------------seccion1*/
    .section_1 {
        width: 100%;
        height: auto;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        /* flex-wrap: wrap; */
    }
    
    .container_sec1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }
    
    .cont1_item1 {
        width: 60%;
        height: auto;
    }
    
    .cont1_item1 h1 {
        font-family: var(--Titulos);
        font-size: 45px;
        color: var(--colorTitulos);
    }
    
    .cont2_item1 {
        font-family: var(--parafos);
        font-size: 20px;
        color: var(--colorparrafos);
        width: 60%;
        height: auto;
    }
    
    .icons {
        width: 60%;
        height: 5vh;
        display: flex;
        justify-content: space-evenly;
    }
    
    .icon {
        width: auto;
        height: auto;
    }
    
    .icon i {
        font-size: 25px;
    }
    
    .icon p {
        font-family: var(--parafos);
        color: var(--colorTitulos);
        size: 25px;
    }
    
    .cont1_item2 i {
        font-size: 20px;
        padding: 5px;
        background-color: #EEF3FF;
        justify-content: center;
        border-radius: 5px;
        margin: 10px;
    }
    
    .cont1_item2 p{
        font-family: var(--parafos);
        color: var(--colorparrafos)
    }
    
    .squedule {
        width: 600px;
        height: 100px;
        background-color: rgba(251, 252, 254, 98%);
        border-radius: 10px;
        position: relative;
        left: 0px;
        justify-content: center;
        display: flex; 
        justify-content: space-between;
    }
    
    .squl_item {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .squl_item p {
        margin-left: 30px;
        font-family: var(--Titulos);
        color: var(--colorTitulos);
    }
    
    .squl_item h6 {
        font-family: var(--parafos);
        color: var(--colorparrafos);
    }
    
    .squl_item i {
        background-color: #EEF3FF;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
    
    .container2_sec1 {
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: #2A70DE;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    
    .container2_sec1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .container3_sec1 {
        height: auto;
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .cont3_item img {
        width:  200px;
        height: 100%;
        object-fit: contain;
    }
    /* -------------------------------------------------------------------------------------------------------seccion1*/
    /* -------------------------------------------------------------------------------------------------------seccion2*/
    .section_2 {
        width: 100%;
        height: auto;
        display: grid;
        margin-bottom: 10vh;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3,1fr);
    }
    
    .container1_sec2 {
        grid-column: 1/3;
        grid-row: 1/2; 
        /* background-color: #87ace7; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .two_cont1_item1 {
        /* background-color: blanchedalmond; */
        width: 45%;
        height: auto; /*cambiar a auto*/ 
    }
    
    .two_cont1_item2 {
        /* background-color: blanchedalmond; */
        width: 70%;
        height: auto; /*cambiar a auto*/ 
    }
    
    .container2_sec2 {
        grid-column: 1/3;
        grid-row: 2/4; 
        /* background-color: #304972; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .two_cont_2_item1 {
        width: 240px;
        height: 300px;
        /* background-color: #2A70DE;  */
        border-radius: 5%;
        border: solid #FAFAFF 6px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .box-icon {
        width: 50px;
        height: auto;
        background-color: #F1F5FF;
        /* flex-direction: column; */
        padding: 5px;
        border-radius: 15%;
    }
    
    #blue {
        width: 15px;
        font-size: 40px;
    }
    
    .two_cont_2_item1 h4 {
        font-family: var(--Titulos);
        color: var(--colorTitulos);
        font-size: 18px;
    }
    
    .two_cont_2_item1 p {
        font-family: var(--parafos);
        color: var(--colorparrafos);
        font-size: small;
    }
    
    .two_cont1_item1 h1 {
        font-family: var(--Titulos);
        color: var(--colorTitulos);
        font-size: 45px;
    }
    
    .two_cont1_item2 p {
        font-family: var(--parafos);
        color: var(--colorparrafos);
        font-size: 20px;
    }
    /* -------------------------------------------------------------------------------------------------------seccion2*/
    /* -------------------------------------------------------------------------------------------------------seccion3*/
    
.section_3 {
    width: 100%;
    height: auto;
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
}

.container1_sec3 {
    grid-column: 1/2;
    grid-row: 2/3;
    /* background-color: #2848C6; */
}

.container1_sec3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2_sec3 {
    grid-column: 1/2;
    grid-row: 1/2;
    /* background-color: #a128c6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.three_cont2_item1 {
    width: 60%;
    height: auto;
    /* background-color: #6D7B93; */
}

.three_cont2_item2 {
    width: 60%;
    height: auto;
    /* background-color: antiquewhite; */
}

.three_cont2_item3 {
    /* background-color: #2848C6; */
    width: 60%;
    height: auto;
}

.three_cont2_item1 h1 {
    font-family: var(--Titulos);
    color: var(--colorTitulos);
    font-size: 45px;
}

.three_cont2_item2 p {
    font-family: var(--parafos);
    color: #6D7B93;
    font-size: 20px;
}
    /* -------------------------------------------------------------------------------------------------------seccion3*/
    /* -------------------------------------------------------------------------------------------------------seccion4*/
    .section_4 {
        width: 100%;
        height: auto;
        display: grid;
        margin-bottom: 10vh;
        grid-template-columns:1fr;
        grid-template-rows: 1fr, 1fr, .5fr;
    }

    .container1_sec4 {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .four_cont1_item1 {
        width: 80%;
    }
    
    .four_cont1_item1 h1{
        font-family: var(--Titulos);
        color: var(--colorTitulos);
        font-size: 2.9em;
    }
    
    .four_cont1_item2 {
        width: 80%;
    }
    
    .four_cont1_item2 p{
        font-family: var(--parafos);
        color: var(--colorparrafos);
        font-size: 1.3em;
    }

    .container2_sec4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .container2_sec4 img{
        width: auto;
        height: 80%;        
    }

    .container2_sec4 {
        height: fit-content;
        display: flex;
        justify-content:center;
    }

    .four_cont3_item1 {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        /* background-color: #7F8CA1; */
        margin: 0 0 5px 0;
    }

    .container3_sec4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .box_item1 {
        width: 180px;
        height: 180px;
        margin: 0 0 10px 0;
        border-radius: 10px;
        border: solid #F1F5FF 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: aquamarine; */
    }
    
    .boxIcon1 {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .icons-call i{
        width: 50px;
        height: 50px;
        font-size: 2em;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F5FF;
    }
    
    .icon2 {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    
    .icon2 h5{
        color:var(--colorTitulos);
        font-size: 1rem;
    }
    
    .icon2 p{
        color:var(--colorparrafos);
        margin-bottom: 0;
    }
    
    .button-38 {
        width: 150px;
        height: 45px;
        background-color: #F1F5FF;
        border: 0;
        border-radius: 5px;
        box-sizing: border-box;
        color: #1d50e7;
        font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: .75rem 1rem;
        text-align: center;
        text-decoration: none #D1D5DB solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-38:hover {
        background-color: rgb(55,85,211);
        color: #ffffff;
      }
      
      .button-38:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      
      .button-38:focus-visible {
        box-shadow: none;
      }
    
    
    /* -------------------------------------------------------------------------------------------------------seccion4*/
}